# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CvGameCoreDLL/Debug
/CvGameCoreDLL/Boost-1.32.0
/CvGameCoreDLL/Python24
/CvGameCoreDLL/Release
/CvGameCoreDLL/Final Release
/CvGameCoreDLL/*.settings
/CvGameCoreDLL/Makefile.project
/CvGameCoreDLL/Makefile
/CvGameCoreDLL/bin
/CvGameCoreDLL/CvGameCoreDLL.sdf
/CvGameCoreDLL/CvGameCoreDLL.sln
vc70.pdb
/CvGameCoreDLL/CvGameCoreDLL.vcxproj.user
/CvGameCoreDLL/.vs/CvGameCoreDLL/v16
/CvGameCoreDLL/_UpgradeReport_Files
/CvGameCoreDLL/DebugCache
*.filters
*.vspscc
*.bak
*.suo
*.vcxproj
*.vcproj
CvGameCoreDLL/UpgradeLog.XML
*.opensdf
